.wrapper-default {
  display: flex;
  flex-direction: column;
}
.wrapper-default .container-client {
  width: 100%;
  display: flex;
  min-height: 100vh;
  padding-top: 141px;
  background-color: white;
  overflow-y: auto;
  position: relative;
}

.wrapper-default .content {
  flex: 1;
}
