/* src/components/Header.css */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    height: 120px;
}

.logo {
    margin-right: 20px;
}

.logo-image {
    width: 150px; /* Điều chỉnh kích thước theo ý muốn */
    height: 70px;
}

.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    align-items: center; /* Căn giữa theo chiều dọc */
}

/* Đảm bảo menu không có background hoặc đường viền dưới */
.navbar .ant-menu {
    background-color: transparent;
    border-bottom: none;
}

/* Style cho từng item trong menu */
.navbar .ant-menu-item {
    color: #000;
    text-decoration: none !important; /* Loại bỏ gạch chân */
    border-bottom: none !important; /* Loại bỏ đường viền dưới */
}

.navbar .ant-menu-item:hover {
    color: #7faeda !important; /* Màu khi hover */
    text-decoration: none !important; /* Đảm bảo không có gạch chân khi hover */
    border-bottom: none !important; /* Loại bỏ đường viền dưới khi hover */
}

.navbar .ant-menu-item-selected {
    color: #7faeda !important; /* Màu khi được chọn */
    text-decoration: none !important; /* Đảm bảo không có gạch chân */
    border-bottom: none !important; /* Loại bỏ border dưới khi chọn */
}
