body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Serif', sans-serif;
  height: auto;
  overflow-y: auto;
}

.ant-layout {
  background-color: #000;
  height: auto;
  overflow-y: auto;
}
